body {
  padding: 50px;
  font: 14px "Lucida Console", "Courier New", monospace;
  background-color:rgb(221, 140, 221);
  background-image:url("photo.jpg") ;

}

a {
  font: 25px "Garamond", Arial, sans-serif;
  color: #1a0307;
    
}

.navbar.navbar-default.navbar-fixed-top {
  background-color:rgb(148, 38, 148);
  
}

.col-xs-12.list-group-item{
  background-color:rgb(147, 73, 147);
  font-family:"Times New Roman", Times, serif;
  color: rgb(0, 0, 3);
}

.label.label-warning{
 font:Garamond ;
 background-color: rgb(147, 73, 147); 
 font-size: 15px;
 color: black;
 size: 15px;
 
}

h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:cornsilk;
}

.badge.pull-right.badge-default{
  color: black;
  background-color: rgb(147, 73, 147);
  font-size: smaller;
}

.panel.panel-primary{
  
    background-color:rgb(97, 19, 97);

  }



.panel-primary{
  background-color: #7f5112;
}

.col-xs-12.col-sm-6.location-map{
 width: 460px;
}

.row{
  width: 1000px;
}

.container{
  font-size: 20px;
}