extends layout
block content
 #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title
  .row
    .col-md-6.col-sm-12
 p
 | Outfit-Orbit is a one stop application helps the customers to find the best clothing stores nearby.
 | <br /><br />
 | Showcasing top trends and quality brands to elevate your wardrobe.
